fastapi
uvicorn[standard]
SQLAlchemy==1.4.*
alembic
python-multipart
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
mysqlclient
python-dotenv
google-auth==2.34.0
email-validator


